dist: trusty
language: rust

env:
  global:
    - CRATE_NAME=jiyunet

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly
  include:
    - env: TARGET=armv7-unknown-linux-gnueabi
    - env: TARGET=x86_64-unknown-linux-musl
    - env: TARGET=armv7-linux-androideabi
    - env: TARGET=x86_64-apple-darwin
      os: osx

script:
  - cargo build --verbose --all
